name: Go Test and Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run Tests
        run: go test -v ./...

      - name: Build
        run: go build -v ./...
